![anatel](img/anatel_logo.png "Logo Anatel")

# Análise de Dados da Anatel em Minas Gerais (2006 - 2019)

A Agência Nacional de Telecomunicaçõe ([Anatel](https://www.anatel.gov.br/institucional/)) foi criada em 16 de julho de 1997 com o objetivo de regular o setor de telecomunicações para contribuir com o desenvolvimento do Brasil. Neste estudo iremos explorar o conjunto de dados das **Reclamações Registradas na Anatel** no estado de Minas Gerais durante os anos de 2006 até 2019. Os dados foram baixaados do  website [Dados Abertos](http://www.dados.gov.br/dataset/solicitacoesregistradasnaanatel) e o [Dicionário de Dados Oficial](data/Reclamações_Glossário_e_Metadados.pdf) está disponível na pasta: [`data/Reclamações_Glossário_e_Metadados.pdf`](data/Reclamações_Glossário_e_Metadados.pdf).

## Exercícios
Faça as questões abaixo usando somente a biblioteca [pandas](https://pandas.pydata.org/).

1. Importe o pacote **pandas** como o nome pd.

In [ ]:
import numpy as np

import pandas as pd

2. Carregue em memória o conjunto de dados disponível na pasta [`data/anatel_mg_2006_2019.csv`](data/anatel_mg_2006_2019.csv) para uma variável chamada **df**.

In [11]:
df = pd.read_csv('./sample_data/anatel_mg_2006_2019.csv')

3. Quantas linhas e quantas colunas foram carregadas em memória?

In [12]:
len(df)

509706

4. Mostre as 5 primeiras linhas do *dataset*.

In [13]:
df.head()

  DataExtracao   Ano  Mes  ...               Motivo  UF QtdeSolic
0   2016-04-28  2006    1  ...        Interferência  MG         3
1   2016-04-28  2006    1  ...              Outorga  MG         8
2   2016-04-28  2006    1  ...             Cobrança  MG         1
3   2016-04-28  2006    1  ...  Serviços Adicionais  MG         1
4   2016-04-28  2006    1  ...             Clonagem  MG         1

[5 rows x 12 columns]

5.  Quais são os tipos de dados de cada uma das colunas?

In [14]:
df.dtypes

DataExtracao     object
Ano               int64
Mes               int64
CanalEntrada     object
Condicao         object
GrupoEconNorm    object
Tipo             object
Servico          object
Modalidade       object
Motivo           object
UF               object
QtdeSolic         int64
dtype: object

6. Mostre a quantidade de colunas para cada um dos tipos de dados.

In [16]:
df.describe()

                 Ano            Mes      QtdeSolic
count  509706.000000  509706.000000  509706.000000
mean     2014.852788       6.317014       8.469714
std         3.443596       3.395123      44.456639
min      2006.000000       1.000000       1.000000
25%      2013.000000       3.000000       1.000000
50%      2016.000000       6.000000       2.000000
75%      2017.000000       9.000000       5.000000
max      2019.000000      12.000000    4164.000000

7. Mostre as informações básicas do DataFrame.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509706 entries, 0 to 509705
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   DataExtracao   509706 non-null  object
 1   Ano            509706 non-null  int64
 2   Mes            509706 non-null  int64
 3   CanalEntrada   509706 non-null  object
 4   Condicao       509706 non-null  object
 5   GrupoEconNorm  509404 non-null  object
 6   Tipo           509706 non-null  object
 7   Servico        509706 non-null  object
 8   Modalidade     509706 non-null  object
 9   Motivo         509706 non-null  object
 10  UF             509706 non-null  object
 11  QtdeSolic      509706 non-null  int64
dtypes: int64(3), object(9)
memory usage: 46.7+ MB

8. Verifique se existem dados ausentes (*misssing data*) no conjunto de dados.

In [18]:
df.isnull().values.any()

True

9. Qual é o número total de dados ausentes?

In [19]:
df.isnull().sum().sum()

302

10. Qual é o número total de dados ausentes por coluna?

In [20]:
df.isnull().sum()

DataExtracao       0
Ano                0
Mes                0
CanalEntrada       0
Condicao           0
GrupoEconNorm    302
Tipo               0
Servico            0
Modalidade         0
Motivo             0
UF                 0
QtdeSolic          0
dtype: int64

11. Remova todos os dados ausentes encontrados.

In [22]:
df = df.dropna(subset=['GrupoEconNorm'])

12. Selecione o serviço que possui o maior número de solicitações `QtdeSolic` na Anatel.

In [23]:
df['QtdeSolic'].max()

4164

13. Qual é o menor número de solicitações `QtdeSolic` na Anatel.

In [35]:
df['QtdeSolic'].min()

1

14. Mostre todas as linhs iguais ao menor número de solicitações `QtdeSolic` na Anatel.

In [27]:
df.loc[df.QtdeSolic == np.min(df.QtdeSolic)]

       DataExtracao   Ano  ...  UF QtdeSolic
2        2016-04-28  2006  ...  MG         1
3        2016-04-28  2006  ...  MG         1
4        2016-04-28  2006  ...  MG         1
5        2016-04-28  2006  ...  MG         1
6        2016-04-28  2006  ...  MG         1
...             ...   ...  ...  ..       ...
509701   2019-10-08  2019  ...  MG         1
509702   2019-10-08  2019  ...  MG         1
509703   2019-10-08  2019  ...  MG         1
509704   2019-10-08  2019  ...  MG         1
509705   2019-10-08  2019  ...  MG         1

[231120 rows x 12 columns]

15. Mostre as contagens de solicitações `QtdeSolic` por tipo de serviço `Servico`.

In [28]:
df.groupby(['Servico'])['QtdeSolic'].sum()

Servico
Banda Larga Fixa                                            348860
Celular Pré-Pago                                            307646
Celular Pós-Pago                                            812191
Limitado Privado                                              1020
Móvel Pessoal                                              1082677
Outros                                                        2972
Radioamador (PY)                                              2810
Radiochamada (Paging)                                           25
Radiodifusão (Rádio e TV)                                     6493
Rádio do Cidadão (PX)                                         2963
Serviço Móvel Aeronáutico                                      153
Serviço Móvel Marítimo                                          20
Serviço Telefônico Fixo Comutado - STFC                     532895
Serviço de Comunicação Multimídia                           254742
Serviço de Rede e Transporte de Telecomunicações - SRTT       2824
Serviços da Anatel                                           46939
TV por Assinatura                                           394184
Telefone Fixo                                               514958
Troncalizado (Trunking)                                       2286
Name: QtdeSolic, dtype: int64

16. Ao longo dos anos mostre o número de solicitações por mês?

In [29]:
df.groupby(['Ano', 'Mes'])['QtdeSolic'].sum()

Ano   Mes
2006  1       6234
      2       5120
      3       6762
      4       5992
      5       6736
             ...
2019  5      36382
      6      30281
      7      37304
      8      34418
      9      32626
Name: QtdeSolic, Length: 165, dtype: int64

17. Crie o vetor **reclamacoes** com todos os dados que cuja coluna `Tipo` seja igual a "Reclamação".

In [30]:
np.where(df['Tipo'] == "Reclamação")[0]

array([     2,      3,      4, ..., 509401, 509402, 509403])

18. Mostre o número total de solictiações `QtdeSolic` de reclamações para cada tipo de serviço `Servico`

In [31]:
df.where(df['Tipo'] == "Reclamação").groupby(['Servico']).sum()

                                                            Ano  ...  QtdeSolic
Servico                                                          ...
Banda Larga Fixa                                    121868714.0  ...   348859.0
Celular Pré-Pago                                    114784732.0  ...   307646.0
Celular Pós-Pago                                    194329008.0  ...   812189.0
Limitado Privado                                       134553.0  ...       83.0
Móvel Pessoal                                       121918272.0  ...  1068603.0
Outros                                                 884612.0  ...     2230.0
Radioamador (PY)                                       291402.0  ...      173.0
Radiochamada (Paging)                                    2010.0  ...        1.0
Radiodifusão (Rádio e TV)                              352246.0  ...      203.0
Rádio do Cidadão (PX)                                  223090.0  ...      133.0
Serviço Móvel Aeronáutico                               18087.0  ...        9.0
Serviço Móvel Marítimo                                   6028.0  ...        3.0
Serviço Telefônico Fixo Comutado - STFC              74885078.0  ...   526752.0
Serviço de Comunicação Multimídia                    37304972.0  ...   239967.0
Serviço de Rede e Transporte de Telecomunicaçõe...     918748.0  ...     2736.0
Serviços da Anatel                                    7423444.0  ...    24032.0
TV por Assinatura                                   159039784.0  ...   391773.0
Telefone Fixo                                       127463133.0  ...   514958.0
Troncalizado (Trunking)                               1074313.0  ...     2229.0

[19 rows x 3 columns]

19. Quais são os maiores ou maior motivo de solicitação de reclamações?

In [33]:
df['Motivo'].value_counts()

Cobrança                                                         24408
Reparo                                                           14832
Cancelamento                                                     11259
Atendimento                                                      11246
Outros                                                           11193
                                                                 ...
Dados disponibilizados insuficientes                                 1
Laboratórios de Ensaio                                               1
LDN/LDI - Não consegue cancelar o plano por meio do atendente        1
LDN/LDI - Consumidor não consegue negociar a dívida                  1
Acompanhamento de processos de outorga                               1
Name: Motivo, Length: 360, dtype: int64

20. Faça um agrupamento de dados pela coluna `GrupoEconNorm`, mostrando um sumário estatístico da quantidade solicitações `QtdeSolic`.

In [34]:
df.groupby(['GrupoEconNorm']).sum()

                         Ano     Mes  QtdeSolic
GrupoEconNorm
ALGAR               62509961  196516      95407
Anatel              45900604  146693      57950
BLUE                 6248905   19796       5020
Brisanet               10094      38          5
CABO TELECOM            2018      10          1
CLARO              113392559  355863     407880
Correios Celular      520776    1517        292
Datora                  4036      20          3
EMBRATEL             2864989    9448       2909
GVT                 12870363   41459      38981
HUGHES NET            805446    2381        542
Intelig               457598    1334        315
NET                104046476  324420     257177
NEXTEL               6445168   20436       6618
NOSSA TV - BRASIL      24220      93         12
OI                 268111403  838988    1832855
Outros              48146968  148160      96430
SERCOMTEL             120650     348         61
SKY                 49046176  153552     164339
TIM                134140249  423585     696485
VIVO               170704158  533530     653376